# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
install.log
*.log
.DS_Store
debug_output.txt
output.txt

# Data
data/kaggle_dataset/
data/uploads/
# Keep data/training_data_final.csv

# Models
# models/ner_model/ # Uncomment if too large, but usually spacy models are fine
# models/anomaly_model.pkl # Keep for now
